services:
  testapp:
    image: testapp:1.2
    env_file: "default.env"
    
    ports:
      - 3000:3000
    develop:
      watch:
        - action: sync
          path: ../
          target: /
          initial_sync: true
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
  